<div class="container">
    <h1 id="title">Bringing Genomic Data to Life</h1>
    <p id="description">Who we are, what we do, and our roadmap for the year ahead.</p>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100vh;
        padding-left: 8vw;
        background-color: #1d1d1d;
    }

    #title {
        color: white;
        font-size: 7rem;
        padding-right: 10vw;
        margin: 0;
    }

    #description {
        color: white;
        font-size: 2rem;
        padding-right: 10vw;
        margin-top: 2rem;
        color: #9bbef2;
    }

    @media screen and (max-width: 768px) {
        .container {
            padding-left: 5vw;
        }

        #title {
            font-size: 4rem;
            padding-right: 5vw;
        }

        #description {
            font-size: 1.5rem;
            padding-right: 5vw;
        }
    }
</style>